/* .App {
  display: grid;
  grid-template-areas: 'h h' 'n m';
  min-height: 100vh;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 5fr;
}

/* .Header {
  background-color: red;
  grid-area: h;
} */

/* .Navbar {
  background-color: orange;
  grid-area: n;
} */
/* .test {
  color: green;
  display: flex;
  flex-direction: column;
} */